{% extends "layout.html" %}

{% block title %}
    Admin Tools
{% endblock %}

{% block main %}
    <div class="container d-flex justify-content-center">
        <form action="/AddCategory" method="post" class="d-flex">
            <div class="form-group">
                <input class="form-control mr-2" type="text" name="category" placeholder="Type a category to add">
            </div>
            <button type="submit" class="btn btn-primary mx-2">Submit</button>
        </form>
        <div class="mt-3">
            <p style="color: red;">{{ error }}</p>
        </div>
    </div>
{% endblock %}