{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div class="my-2">
        <h3>Expense List</h3>
    </div>

    <div class="my-3">
        <button id="addExpenseBtn" class="btn btn-primary">Add Expense</button>
    </div>

    <script src="static/add_expense.js"></script>

    <div id="expenseFormContainer" class="container d-flex justify-content-center m-5 w-auto"></div>
        
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="table-responsive">
                    <table class="table" id="expenseTable">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Product/Service</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody id="expenseTableBody">
                            {% for expense in expenses %}
                                <tr>
                                    <td scope="row">{{ expense["name"] }}</td>
                                    <td>{{ expense["category"] }}</td>
                                    <td>{{ expense["price"]|brl }}</td>
                                    <td>{{ expense["date"] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}