{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <script src="static/delete_user.js"></script>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Date Joined</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user["name"] }}</td>
                                <td>{{ user["username"] }}</td>
                                <td>{{ user["date_joined"] }}</td>
                                <td>
                                    <form id="deleteUser delete-form">
                                        <input id="username" name="username" type="hidden" disabled value="{{user['username']}}">
                                        <button type="submit" class="btn btn-danger btn-sm delete-button">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}